.container{
    padding: 10%;
}
.title{
    color: black;
}
.form-group{
    color: black;
}
#photo{
    background-color: aliceblue;
    /* doesn't actually work, but fixes issue with upload*/
}
body{
    background: aliceblue
}