{% extends 'base.html' %}
{% load static %}
{% block stylo %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock stylo %}
{% block content %}
<div class="container text-center" id="cont">
    <h1 class="logTitle">Login</h1>
    <div class='column'>
        <form class='form' action="/login/" method="post">  <!-- Login form -->
            {%csrf_token%}
            <div class="form-group">{{form.username}}</div>
            <div class="form-group">{{form.password}}</div>
            <!-- {{form}} -->
            <input type="submit" value="Login" class="button btn-primary">
            <input type="hidden" name="next" value="{{request.GET.next}}">
        </form>
        <a href="/register/" class="link text-center">New here?</a>
    </div>
</div>
{% endblock content %}